## Cargar los datos

In [ ]:
# Importar las librerias de pandas y numpy

import pandas as pd
import numpy as np

Abrir datos desde nuestro Drive

In [ ]:
# datos = pd.read_csv('ruta')

datos = pd.read_csv('/content/drive/MyDrive/PILARES/Computación/Ciencia de Datos/ATP.csv')
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB
None

<ipython-input-7-386ede6b6a26>:3: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('/content/drive/MyDrive/PILARES/Computación/Ciencia de Datos/ATP.csv')

## Primeros Análisis

Observar los primeros registros de nuestros datos

In [ ]:
print(datos.head())

   ATP  Location                          Tournament       Date  \
0    1  Adelaide  Australian Hardcourt Championships  3/01/2000
1    1  Adelaide  Australian Hardcourt Championships  3/01/2000
2    1  Adelaide  Australian Hardcourt Championships  3/01/2000
3    1  Adelaide  Australian Hardcourt Championships  3/01/2000
4    1  Adelaide  Australian Hardcourt Championships  3/01/2000

          Series    Court Surface      Round  Best of       Winner  ... UBW  \
0  International  Outdoor    Hard  1st Round        3   Dosedel S.  ... NaN
1  International  Outdoor    Hard  1st Round        3   Enqvist T.  ... NaN
2  International  Outdoor    Hard  1st Round        3    Escude N.  ... NaN
3  International  Outdoor    Hard  1st Round        3   Federer R.  ... NaN
4  International  Outdoor    Hard  1st Round        3  Fromberg R.  ... NaN

  UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
0 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[5 rows x 54 columns]

Convertir nuestros datos a un data frame

In [ ]:
nuevo = pd.DataFrame(datos)

In [ ]:
print(nuevo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB
None

Remplazamos los datos faltantes con ceros

In [ ]:
# Remplazar los datos faltantes
nuevo = nuevo.replace(np.nan, "0")

In [ ]:
# Nos muestra la informacion de nuestro Data Frame
print(nuevo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46652 non-null  object
 12  LRank       46652 non-null  object
 13  W1          46652 non-null  object
 14  L1          46652 non-null  object
 15  W2          46652 non-null  object
 16  L2          46652 non-null  object
 17  W3          46652 non-null  object
 18  L3          46652 non-null  object
 19  W4          46652 non-null  object
 20  L4          46652 non-null  object
 21  W5          46652 non-null  object
 22  L5          46652 non-null  object
 23  Wsets       46652 non-null  object
 24  Lsets       46652 non-null  object
 25  Comment     46652 non-null  object
 26  CBW         46652 non-null  object
 27  CBL         46652 non-null  object
 28  GBW         46652 non-null  object
 29  GBL         46652 non-null  object
 30  IWW         46652 non-null  object
 31  IWL         46652 non-null  object
 32  SBW         46652 non-null  object
 33  SBL         46652 non-null  object
 34  B365W       46652 non-null  object
 35  B365L       46652 non-null  object
 36  B&WW        46652 non-null  object
 37  B&WL        46652 non-null  object
 38  EXW         46652 non-null  object
 39  EXL         46652 non-null  object
 40  PSW         46652 non-null  object
 41  PSL         46652 non-null  object
 42  WPts        46652 non-null  object
 43  LPts        46652 non-null  object
 44  UBW         46652 non-null  object
 45  UBL         46652 non-null  object
 46  LBW         46652 non-null  object
 47  LBL         46652 non-null  object
 48  SJW         46652 non-null  object
 49  SJL         46652 non-null  object
 50  MaxW        46652 non-null  object
 51  MaxL        46652 non-null  object
 52  AvgW        46652 non-null  object
 53  AvgL        46652 non-null  object
dtypes: int64(2), object(52)
memory usage: 19.2+ MB
None

In [ ]:
#Describe el Data Frame, si se tienen columnas de valores numericos nos muestra las estadísticas básicas

print(nuevo.describe())

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

In [ ]:
print(nuevo.describe(include=[np.number]))

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

In [ ]:
# Remplazamos los valores N/A y NR por cero

nuevo = nuevo.replace("N/A","0")
nuevo = nuevo.replace("NR", "0")

In [ ]:
print(nuevo.describe())

                ATP       Best of
count  46652.000000  46652.000000
mean      32.931000      3.373746
std       17.953268      0.780315
min        1.000000     -1.000000
25%       19.000000      3.000000
50%       33.000000      3.000000
75%       49.000000      3.000000
max       69.000000      5.000000

Imprimir los encabezados del DF

In [ ]:
# Imprimir los encabezados del Data Frame
print(list(nuevo))

['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets', 'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL', 'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'WPts', 'LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL', 'AvgW', 'AvgL']

Convertir los datos de los sets y el ranking a datos numéricos

In [ ]:
#Con el metodo .astype podemos cambiar el tipo de dato

nuevo['Wsets']= nuevo.Wsets.astype(float)
nuevo['WRank']= nuevo.WRank.astype(float)

In [ ]:
print(nuevo.describe())

                ATP       Best of         WRank         Wsets
count  46652.000000  46652.000000  46652.000000  46652.000000
mean      32.931000      3.373746     59.035926      2.133092
std       17.953268      0.780315     73.296447      0.481388
min        1.000000     -1.000000      0.000000      0.000000
25%       19.000000      3.000000     17.000000      2.000000
50%       33.000000      3.000000     41.000000      2.000000
75%       49.000000      3.000000     77.000000      2.000000
max       69.000000      5.000000   1890.000000      3.000000

Si tomamos los datos originales, y aplicamos el metodo dropna como en cada registro existe por lo menos un valor faltante, todo el DF se elimina.

In [ ]:
datos.dropna(how='any', inplace=True)
print(datos.head())

Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, CBW, CBL, GBW, GBL, IWW, IWL, SBW, SBL, B365W, B365L, B&WW, B&WL, EXW, EXL, PSW, PSL, WPts, LPts, UBW, UBL, LBW, LBL, SJW, SJL, MaxW, MaxL, AvgW, AvgL]
Index: []

[0 rows x 54 columns]

Volvemos a cargar los datos

In [ ]:
# datos = pd.read_csv('ruta')
datos = pd.read_csv('/content/drive/MyDrive/PILARES/Computación/Ciencia de Datos/ATP.csv')

<ipython-input-21-4d6edf4e4be4>:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('/content/drive/MyDrive/PILARES/Computación/Ciencia de Datos/ATP.csv')

## Acceder a informacion mediante iloc (índices numéricos)

Vamos a Seleccionar renglones de nuestros datos

In [ ]:
#Seleccionar los primeros 5 renglones
print(datos.iloc[0:5])

   ATP  Location                          Tournament       Date  \
0    1  Adelaide  Australian Hardcourt Championships  3/01/2000
1    1  Adelaide  Australian Hardcourt Championships  3/01/2000
2    1  Adelaide  Australian Hardcourt Championships  3/01/2000
3    1  Adelaide  Australian Hardcourt Championships  3/01/2000
4    1  Adelaide  Australian Hardcourt Championships  3/01/2000

          Series    Court Surface      Round  Best of       Winner  ... UBW  \
0  International  Outdoor    Hard  1st Round        3   Dosedel S.  ... NaN
1  International  Outdoor    Hard  1st Round        3   Enqvist T.  ... NaN
2  International  Outdoor    Hard  1st Round        3    Escude N.  ... NaN
3  International  Outdoor    Hard  1st Round        3   Federer R.  ... NaN
4  International  Outdoor    Hard  1st Round        3  Fromberg R.  ... NaN

  UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
0 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[5 rows x 54 columns]

In [ ]:
# Acceder a renglones salteados
print(datos.iloc[[0,3,6,24],])

    ATP  Location                          Tournament       Date  \
0     1  Adelaide  Australian Hardcourt Championships  3/01/2000
3     1  Adelaide  Australian Hardcourt Championships  3/01/2000
6     1  Adelaide  Australian Hardcourt Championships  3/01/2000
24    1  Adelaide  Australian Hardcourt Championships  3/01/2000

           Series    Court Surface          Round  Best of       Winner  ...  \
0   International  Outdoor    Hard      1st Round        3   Dosedel S.  ...
3   International  Outdoor    Hard      1st Round        3   Federer R.  ...
6   International  Outdoor    Hard      1st Round        3  Grosjean S.  ...
24  International  Outdoor    Hard  Quarterfinals        3   Enqvist T.  ...

   UBW UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
0  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
6  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
24 NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[4 rows x 54 columns]

In [ ]:
# Acceder a columnas
print(datos.iloc[:,0:2])

       ATP        Location
0        1        Adelaide
1        1        Adelaide
2        1        Adelaide
3        1        Adelaide
4        1        Adelaide
...    ...             ...
46647   54  St. Petersburg
46648   54  St. Petersburg
46649   54  St. Petersburg
46650   54  St. Petersburg
46651   54  St. Petersburg

[46652 rows x 2 columns]

In [ ]:
# Seleccionar diferentes columnas y filas
print(datos.iloc[[0,3,6,24],[0,5,6]])

    ATP    Court Surface
0     1  Outdoor    Hard
3     1  Outdoor    Hard
6     1  Outdoor    Hard
24    1  Outdoor    Hard

In [ ]:
# Seleccionar rangos de registros y columnas
print(datos.iloc[0:5,5:8])

     Court Surface      Round
0  Outdoor    Hard  1st Round
1  Outdoor    Hard  1st Round
2  Outdoor    Hard  1st Round
3  Outdoor    Hard  1st Round
4  Outdoor    Hard  1st Round

## Ejercicios

Carga los datos del archivo Ejercicio_1.csv o crea el siguiente Data Frame

![df.png]()

Muestra las primeras 3 filas del DataFrame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
datos = pd.read_csv("/content/drive/MyDrive/CIENCIA DE DATOS/2DO MODULO/2DA SEMANA/Ejercicio_1.csv")

In [ ]:
df = pd.DataFrame(datos)
print(df)

   Nombre  Edad      Carrera  Promedio Aprobado
0     Ana    23  Matemáticas       8.7       si
1    Luis    25      Fisisca       9.1       si
2  Carlos    22     Medicina       NaN       si
3   Maria    24     Historia       7.5       no
4   Elena  n/ a      Química       8.2       si
5   Pedro    23     Biología       6.9       no
6   Jorge    21      Derecho       7.8       si

¿Cómo se puede saber que tipo de dato tiene cada columna y cuántos valores nulos hay?

In [ ]:
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    7 non-null      object
 1   Edad      7 non-null      object
 2   Carrera   7 non-null      object
 3   Promedio  6 non-null      float64
 4   Aprobado  7 non-null      object
dtypes: float64(1), object(4)
memory usage: 412.0+ bytes
None

Remplaza 'Si' por True y 'No' por False en la columna 'Aprobado'

In [ ]:
pd.set_option('future.no_silent_downcasting', True)
df["Aprobado"] = df["Aprobado"].replace({"si":True, "no":False})
print(df)

   Nombre  Edad      Carrera  Promedio Aprobado
0     Ana    23  Matemáticas       8.7     True
1    Luis    25      Fisisca       9.1     True
2  Carlos    22     Medicina       NaN     True
3   Maria    24     Historia       7.5    False
4   Elena  n/ a      Química       8.2     True
5   Pedro    23     Biología       6.9    False
6   Jorge    21      Derecho       7.8     True

Muestra las estadísticas básicas del Data Frame para las columnas númericas.

In [ ]:
print(df.describe())

       Promedio
count  6.000000
mean   8.033333
std    0.804156
min    6.900000
25%    7.575000
50%    8.000000
75%    8.575000
max    9.100000

Convierte la columna 'Edad' a tipo numerico (int)

In [ ]:
df["Edad"]= pd.to_numeric(df["Edad"], errors="coerce").fillna(0).astype(int)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    7 non-null      object
 1   Edad      7 non-null      int64
 2   Carrera   7 non-null      object
 3   Promedio  6 non-null      float64
 4   Aprobado  7 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 412.0+ bytes
None

Elimina todas las filas que tengan algún valor nulo

In [ ]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
print(df)

  Nombre  Edad      Carrera  Promedio Aprobado
0    Ana    23  Matemáticas       8.7     True
1   Luis    25      Fisisca       9.1     True
2  Maria    24     Historia       7.5    False
3  Elena     0      Química       8.2     True
4  Pedro    23     Biología       6.9    False
5  Jorge    21      Derecho       7.8     True

Muestra la información completa de la tercera fila

In [ ]:
print(datos.iloc[3])

Nombre         Maria
Edad              24
Carrera     Historia
Promedio         7.5
Aprobado          no
Name: 3, dtype: object

Muestra las primeras 4 filas y solo las columnas 'Nombre' y 'Edad'

In [ ]:
print(df.iloc[0:4])

  Nombre  Edad      Carrera  Promedio Aprobado
0    Ana    23  Matemáticas       8.7     True
1   Luis    25      Fisisca       9.1     True
2  Maria    24     Historia       7.5    False
3  Elena     0      Química       8.2     True

Muestra las filas 2 a 5 y solo la columna 'Promedio'

In [ ]:
print(df.iloc[2:6,3])

2    7.5
3    8.2
4    6.9
5    7.8
Name: Promedio, dtype: float64

Muestra las filas pares (índices 0,2,4,6) y las columnas 'Edad' y 'Promedio'

In [ ]:
import requests
url = "https://task-app-backend-rg4t.onrender.com/tasks"
response = requests.get(url)

if response.status_code == 200:
  data = response.json()
  print(data)

else:
  print("Error en las solicitud:", response.status_code)

[{'_id': '68214e3be2f55b5974ac7181', 'title': 'Steve Jr', 'completed': False}, {'_id': '68214e8de2f55b5974ac7182', 'title': 'Canela vomitona', 'completed': False}, {'_id': '68214ef781a5e134d6f92fa8', 'completed': 'false', 'title': 'Torta de jamon'}, {'_id': '682b832e151ec80e8cc59f35', 'title': 'A pancho le gustan los nachos', 'completed': 'false'}, {'_id': '682b836e151ec80e8cc59f36', 'title': 'Torta de huevo', 'completed': False}, {'_id': '6832076ad8bac4601c3ba753', 'title': 'Ciencia de datos 24.05.2025', 'completed': False}, {'_id': '68320e5ad8bac4601c3ba755', 'title': 'Esta es un POST googleColab', 'completed': False}]

In [ ]:
import requests
url = "https://task-app-backend-rg4t.onrender.com/tasks/68320942d8bac4601c3ba754"
response = requests.delete(url)

if response.status_code == 200:
  data = response.json()
  print(data)

else:
  print("Error en las solicitud:", response.status_code)

{'status': 'deleted'}

In [ ]:
import requests
url = "https://task-app-backend-rg4t.onrender.com/tasks"

insertdata = {"title":"Esta es un segundo POST googleColab"}

response = requests.post(url, json=insertdata)

if response.status_code == 200:
  print(response.text)

else:
  print("Error en las solicitud:", response.status_code)

{"id":"68320fccd8bac4601c3ba759"}

In [ ]:
print(df.iloc[::2,[1,3]])

   Edad  Promedio
0    23       8.7
2    24       7.5
4    23       6.9